<launch>
    <group ns="xbee_communication">
      <node pkg="communication" type="xbee_write" name="xbee_write" output="screen" />
      <node pkg="communication" type="xbee_read" name="xbee_read" output="screen" />
      <rosparam command="load" file="$(find communication)/config/parameters.yaml" />
    </group>
</launch>
